<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
</head>
<body>
  <form action="/new" method="post">
    <h1>New Post</h1>
    <label for="author">Your name</label>
    <input type="text" name="author" id="author">
    
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30"
    rows="10"></textarea>
    
    <button type="submit">Post your thoughts!</button>
  </form>
</body>
</html>